/* Auth Buttons  */
#auth-buttons {
  position: fixed;
  top: 8px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 10px;
}

#auth-buttons button {
  padding: 10px 20px;
  background-color: rgb(86, 86, 255);
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#auth-buttons button:hover {
  background-color: #f88ddf;
  color: #fff;
}

/* Modal Overlay */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content  */
.modal-content {
  background-color: #ffa4cd;
  margin: 8% auto;
  padding: 25px 30px;
  border-radius: 12px;
  width: 350px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  text-align: center;
}

/*  nút đóng  */
.close {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

/* Form đầu vào */
.modal-content form input {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

/* nút submit */
.modal-content form button {
  width: 100%;
  padding: 10px;
  background-color: #828282;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-content form button:hover {
  background-color: #218838;
}


.switch {
  margin-top: 15px;
}

.switch a {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

.switch a:hover {
  text-decoration: underline;
}

/* mờ dần */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


/* Đăng xuất */
.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
  cursor: pointer;
}
